[submodule "csrc/st_attn/tk"]
	path = csrc/st_attn/tk
	url = https://github.com/HazyResearch/ThunderKittens.git
[submodule "csrc/vsa/tk"]
	path = csrc/vsa/tk
	url = https://github.com/HazyResearch/ThunderKittens.git
